@import url('https://fonts.googleapis.com/css?family=Arya');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');
* {
    outline: none;
}

body {
    background-size: 100% 100vh;
    background-color: #534e4ebd;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('https://wallpapercave.com/wp/wp4073802.jpg');
    /*background-repeat: repeat;*/
    /*animation: bg-animation .1s infinite;*/
    opacity: .9;
    visibility: visible;
    z-index: -2;
  }
  
  /*@keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }*/


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(2, 1, 1, 0.918) 0px 0px 0px 2px, rgba(19, 37, 58, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.centered {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    text-align: center;
}

.login {

  background: linear-gradient(to bottom right, #cfbd6e, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
  
.login:hover{
    background-color: #000000;
    color: white;
}

.input-label {
    text-align: left;
    font-family: ABeeZee, sans-serif;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nameInput{
    padding: 10px;
    border: 1px solid #070707;
    border-radius: 5px;
    font-size: 16px;
    background-color: #0a0909;
    color: #333;
    width: 200px;
}

.nameInput:focus {
    border-color: #f3c5ba; 
    box-shadow: 0 0 5px rgba(43, 43, 43, 0.5);
}

.drag-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 25px; 
    background-color: #1a1a1b94; 
    -webkit-app-region: drag;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: rgba(255, 255, 255, 0.637);
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;

}


.microsoft {
    background: linear-gradient(to bottom right, #1f3646, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}
